<div class="container">
  <div class="row gy-5 gy-md-4 | text-primary | mt-4 mt-lg-5">
    <div class="col-lg-4 col-md-12">
      <div class="course-choose row d-lg-block rounded-l1 mx-1" id="choose1">
        <div class="col-md-6 col-lg-12 px-0">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg?raw=true"
            class="card-img-top option-img h100"
            alt="..."
          />
        </div>
        <div class="card-body col-md-6 col-lg-12 vstack justify-content-center">
          <h5
            class="card-title text-lg-center text-md-start text-center mt-4 mt-md-0 mt-lg-4 mb-1"
          >
            首次體驗
          </h5>
          <p
            class="text-lg-center text-md-start text-center text-secondary fs-5 mb-2"
          >
            NT 1450 / 次
          </p>
          <p class="card-text mb-0">
            分基礎、中級、高級可以選擇。初次至 DOYOGA 上課建議選擇此方案。
          </p>
          <a
            href="#levelFirst"
            class="btn btn-primary btn-lg text-white w-100 mt-7"
            data-bs-toggle="collapse"
            >選擇課程</a
          >
        </div>
      </div>
      <div class="course-arrow text-center invisible py-1" id="arrowFirst">
        <span class="material-icons text-dark fs-1">
          arrow_drop_down
        </span>
      </div>
      <div class="d-lg-none">
        <div
          class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
          id="levelFirst"
        >
          <%- include('./course-level.ejs')%>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="course-choose row d-lg-block rounded-l1 mx-1" id="choose2">
        <div class="col-md-6 col-lg-12 px-0">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20performing%20yoga.jpg?raw=true"
            class="card-img-top option-img h100"
            alt="..."
          />
        </div>
        <div class="card-body col-md-6 col-lg-12 vstack justify-content-center">
          <h5
            class="card-title text-lg-center text-md-start text-center mt-4 mt-md-0 mt-lg-4 mb-1"
          >
            短期體驗
          </h5>
          <p
            class="text-lg-center text-md-start text-center text-secondary fs-5 mb-2"
          >
            NT $1800 / 月
          </p>
          <p class="card-text mb-0">
            分基礎、中級、高級可以選擇。想試著培養瑜珈習慣者可以選擇此方案。
          </p>
          <a
            href="#levelSec"
            class="btn btn-primary btn-lg text-white w-100 mt-7"
            data-bs-toggle="collapse"
            >選擇課程</a
          >
        </div>
      </div>
      <div class="course-arrow text-center invisible py-1" id="arrowSec">
        <span class="material-icons text-dark fs-1">
          arrow_drop_down
        </span>
      </div>
      <div class="d-lg-none">
        <div
          class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
          id="levelSec"
        >
          <%- include('./course-level.ejs')%>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="course-choose row d-lg-block rounded-l1 mx-1" id="choose3">
        <div class="col-md-6 col-lg-12 px-0">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20blue%20leggings%20and%20black%20tank%20top%20doing%20yoga.jpg?raw=true"
            class="card-img-top option-img h100"
            alt="..."
          />
        </div>
        <div class="card-body col-md-6 col-lg-12 vstack justify-content-center">
          <h5
            class="card-title text-lg-center text-md-start text-center mt-4 mt-md-0 mt-lg-4 mb-1"
          >
            長期體驗
          </h5>
          <p
            class="text-lg-center text-md-start text-center text-secondary fs-5 mb-2"
          >
            NT $5600 / 季
          </p>
          <p class="card-text mb-0">
            分基礎、中級、高級可以選擇。有長期習慣做瑜伽者建議選擇此方案。
          </p>
          <a
            href="#levelThird"
            class="btn btn-primary btn-lg text-white w-100 mt-7"
            data-bs-toggle="collapse"
            >選擇課程</a
          >
        </div>
      </div>
      <div class="course-arrow text-center invisible py-1" id="arrowThird">
        <span class="material-icons text-dark fs-1">
          arrow_drop_down
        </span>
      </div>
      <div class="d-lg-none">
        <div
          class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
          id="levelThird"
        >
          <%- include('./course-level.ejs')%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 三個控制區塊 -->
<div class="d-none d-lg-block">
  <div
    class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
    id="levelFirst"
  >
    <%- include('./course-level.ejs')%>
  </div>
  <div
    class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
    id="levelSec"
  >
    <%- include('./course-level.ejs')%>
  </div>
  <div
    class="collapse course-level container-lg bg-primary text-white pt-6 pb-l64"
    id="levelThird"
  >
    <%- include('./course-level.ejs')%>
  </div>
</div>
